.Error {
  position: fixed;
  width: 100%;
  background-color: $red;
  padding: 20px;
  transition: bottom 0.6s ease-in-out;
  z-index: 400;
  display: flex;
  align-items: center;
  color: $white;
  bottom: -72px;

  &--present {
    bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}
