.FAQ {
  position: fixed;
  z-index: 300;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fade-out($grey, 0.6);
  height: calc(100vh - 113px);
  overflow-y: scroll;
  padding-bottom: 25px;
  clear: both;

  &__List {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__Question {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 700;
  }

  &__Answer {
    font-size: 15px;
  }

  &__Close {
    float: right;
  }

  &__Wrapper {
    position: absolute;
    left: 50%;
    top: 25px;
    width: 90%;
    min-width: 800px;
    padding: 40px;
    box-shadow: $boxShadow;
    background: $white;
    margin-bottom: 25px;
    transform: translateX(-50%);
  }
}
