$FileWrapperWidth: calc(100% - 290px);

.FileWrapper {
  position: relative;
  float: left;
  width: $FileWrapperWidth;

  &--start {
    display: flex;
    margin-top: 100px;
    justify-content: center;
  }

  &__paging {
    display: flex;

    &-button {
      font-size: 12px;
      padding: 8px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
      }
    }
    &-count {
      display: inline-block;
      margin: 0 15px;
    }
  }

  &__Details {
    position: fixed;
    bottom: 0;
    width: $FileWrapperWidth;
    left: 290px;
    background-color: $black;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    color: $white;

    &-faq {
      background: $red;
    }

    &-share {
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
    }

    .twitter-share-button {
      background: $purple;
      color: $light;
      text-decoration: none;
      display: inline-block;
      margin-right: 25px;
    }
  }

  &__message {
    text-align: center;

    h2 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    ol {
      list-style-position: inside;
      text-align: left;
    }
  }

  &__List {
    padding-top: 150px;
    padding-bottom: 100px;
    overflow-y: scroll;
    height: calc(100vh - 113px);
    position: fixed;
    width: calc(100% - 290px);
    display: flex;
    flex-wrap: wrap;
  }

  &__Bar {
    z-index: 200;
    position: fixed;
    width: $FileWrapperWidth;
    background-color: $white;
    box-shadow: $boxShadow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
