.SignIn {
  position: fixed;
  z-index: 300;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fade-out($grey, 0.6);
  height: calc(100vh - 91px);
  overflow-y: scroll;
  padding-bottom: 25px;

  &__button {
    appearance: none;
    border: none;
    padding: 0;
    color: $red;
    margin: 10px 0;
    cursor: pointer;
    background-color: transparent;
  }

  &__Content {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    transform: translateX(-25%);
  }

  &__Card {
    position: absolute;
    left: 50%;
    top: 25px;
  }

  &__Face {
    width: 900px;
    padding: 40px;
    box-shadow: $boxShadow;
    background: $white;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    backface-visibility: hidden;
    perspective: 800px;
    margin-bottom: 25px;
    border-radius: 3px;

    &--Front,
    &--Back {
      position: absolute;
      transition: all 0.5s linear;
    }

    &--Front {
      text-align: center;
      .SignIn__Content--FAQ & {
        transform: rotateY(180deg);
      }
    }

    &--Back {
      transform: rotateY(180deg);

      .SignIn__Content--FAQ & {
        transform: rotateY(0);
      }
    }
  }
}
