html.has-navbar-fixed-top
  head
    title Slack Deletron
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
  body.has-navbar-fixed-top

    #main

    if isDev
      script(src= scripts)