html
  head
    title Slack Deletron
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://cdn.ravenjs.com/3.24.0/raven.min.js"
    crossorigin="anonymous")
  body

    #main

    if isDev
      script(src= scripts)