<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Slack, Deletron, Slack Deletron, Delete Slack Files">
  <meta name="description" content="Delete and manage files from your Slack Workspace!">
  <meta author="Drew Minns">
  <meta name="slack-app-id" content="AA3DR7V1S">
  <meta name="author" content="Drew Minns">
  <meta property="og:title" content="Slack Deletron">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Slack Deletron">
  <meta property="og:description" content="Delete and manage files from your Slack Workspace!">
  <meta property="og:image" content="https://s3.us-east-2.amazonaws.com/slackdeletron/feature.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@drewisthe">
  <meta name="twitter:title" content="Slack Deletron">
  <meta name="twitter:description" content="Delete and manage files from your Slack Workspace!">
  <meta name="twitter:image" content="https://s3.us-east-2.amazonaws.com/slackdeletron/feature.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://s3.us-east-2.amazonaws.com/slackdeletron/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slackdeletron/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slackdeletron/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slackdeletron/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slackdeletron/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slackdeletron/favicon-128.png" sizes="128x128" />
  <title>Slack Deletron</title>
</head>
<body>
  
  <div id="main"></div>
  <div id="calendar"></div>

  <script>
    (function() {
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js');
      }
    })();
    
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76483887-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-76483887-1');
  </script>

</body>
</html>